h1{
    text-align: center;
    color: #359E7B;
    text-transform: uppercase;
}

form {
    width: 700px;
    text-align: center;
    margin: 0 auto
}

form > * {
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #359E7B;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

form textarea {
    resize: none;
    height: 300px;
    border-width:2px;
    border-style: solid;
    border-color:#359E7B;
}

.envoi {
    background-color: #359E7B ;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}